<!DOCTYPE html>

<html>
   <head>
      <title>Cosmic Programmer Portfolio App</title>
</head>

   <body>
    <div class="container">
      <h1>Cosmic Programmer Portfolio App</h1>
      <ul>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li><a href="/requestHeaderParser">Request Header Parser</a></li>
        <li><a href="/urlShortenerMicroservice">URL Shortener Microservice</a></li>
        <li><a href="/exerciseTracker">Exercise Tracker</a></li>
        <li><a href="/file-metadata-microservices">File Metadata</a></li>
        <li><a href="https://ivanzlatoff.github.io/a_bootstrap_random_quote_generator/">Quote Generator</a></li>
      </ul>
    </div>
  </body>
</html>
